[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/config/nvim"]
	path = vim/config/nvim
	url = https://github.com/NvChad/NvChad
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/NvChad/NvChad
